<html>

<head>
    <title>Generate Technical Review Paper</title>
</head>

<body>
    <h1>Generate Technical Review Paper king</h1>
    <form action="/generate" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title"><br>
        <label for="author">Author:</label>
        <input type="text" name="author"><br>
        <label for="result">Result:</label>
        <input type="text" name="result"><br>
        <input type="submit" value="Generate">
    </form>
</body>

</html>